---
import Layout from "../layouts/Layout.astro";
import App from "../components/app.astro";
---

<Layout title="Short URIs App">
  <main class="max-w-screen-md mx-auto">
    <header class="pt-48 mb-20">
      <h1 class="text-white text-6xl mx-auto text-balance text-center">
        Cambia tu URL laaaaarga por una<span
          class="font-semibold text-orange-400 underline underline-offset-8 text-6xl"
        >
          CORTA</span
        >
      </h1>
      <h3 class="text-zinc-400 text-xl mt-12 text-center text-pretty">
        Pega tus urls más dificiles de recordar y recupera otra mucha más
        simplificada para recordar y compartir
      </h3>
    </header>

    <section>
      <div>
        <App />
      </div>
    </section>
  </main>
</Layout>
