---
interface Props {
  title: string;
}

import "@fontsource-variable/outfit";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Aplicación para acortar las urls que son demasiado largas y facilitar al usuario el acceso a ellas"
    />
    <title>{title}</title>
  </head>
  <body class="relative min-h-screen w-full bg-slate-950">
    <div
      class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,rgb(39,29,29),transparent)] -z-10"
    >
    </div>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --my-color: rgb(39, 29, 29);
  }

  html {
    font-family: "Outfit Variable", system-ui, sans-serif;
    color-scheme: light dark;
    scrollbar-gutter: stable;
  }
</style>
